*{
  margin: 0;
  padding: 0;
  background-color:  #f5fbfb;
}

#content{
 width: 60%;
 padding: 30px;
}

#copyright{
  color: #545454;
  padding: 30px;
  background-color: #c8c8c8;
  height: 150px;
}

footer{
  width: 100%;
}

@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740px) and (orientation: landscape),
       screen and (max-width:740px){
#content{
  width:60%;
}
#asciiContainer{
  font-size: 50%;
}


}
