*{
  margin: 0;
  padding: 0;
  /*background-color: #e9f0d2; */
}

#content{
 width: 60%;
 padding: 30px;
 margin: 0 auto;
 background-color: #fafbf5;
}

#content pre .asciidb, #content pre, #content p, h1,tr, td{
   background-color: #fafbf5;
}


#copyright{
  height: 120px;
  width: 100%;
  margin: 0 auto;
  background-color: #fafbf5;
}

footer{
  width: 60%;
  margin: 0 auto;
  background-color: #fafbf5;
}



