*{
  margin: 0;
  padding: 0;
  background-color: #e9f0d2;
}

#content{
 width: 60%;
 padding: 30px;
 margin: 0 auto;
 background-color: #fafbf5;
}

#content pre .asciidb, #content pre, #content p, h1,tr, td{
   background-color: #fafbf5;
}


#copyright{
  color: #545454;
  padding: 30px;
  background-color: #c8c8c8;
  height: 120px;
  margin: 0 auto;
}

footer{
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-device-width: 480px) and (orientation: portrait),
       screen and (max-device-width: 740px) and (orientation: landscape),
       screen and (max-width:740px){
#content{
  width:60%;
}
#asciiContainer{
  font-size: 60%;
}

}
